Source: senn-common
Section: utils
Priority: optional
Maintainer: mhkoji <mhkoji2@gmail.com>
Build-Depends:
  cl-alexandria,
  cl-bordeaux-threads,
  cl-cffi,
  cl-ppcre,
  cl-trivial-gray-streams,
  cl-yason,
  debhelper (>= 10),
  sbcl
Standards-Version: 4.6.0
Homepage: https://github.com/mhkoji/Senn

Package: senn-common
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Common utilities of Senn
 Senn is a Japanese input method editor.
 It accepts an input sequence of keys from a keyboard,
 transforms the sequence to the corresponding kana characters
 and converts it to a sequence of kana and kanji characters.
 .
 senn-common provides common utilities such as kana-kanji converters.
