Source: fcitx5-senn
Section: utils
Priority: optional
Maintainer: mhkoji <mhkoji2@gmail.com>
Build-Depends: debhelper-compat (= 13), cmake, ecl, libfcitx5core-dev
Standards-Version: 4.6.0
Homepage: https://github.com/mhkoji/Senn
#Vcs-Browser: https://salsa.debian.org/debian/fcitx5-senn
#Vcs-Git: https://salsa.debian.org/debian/fcitx5-senn.git

Package: fcitx5-senn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fcitx5
Description: Senn support for Fcitx5
 Senn is an input method editor for the Japanese language.
