#!/usr/bin/make -f

# https://bugs.launchpad.net/sbcl/+bug/310108
override_dh_strip:
	dh_strip --exclude kkc-engine

# https://bugs.launchpad.net/sbcl/+bug/310108
override_dh_dwz:
	dh_dwz --exclude kkc-engine

%:
	dh $@
