#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk

install::
	install ./engine/ibus-engine-senn /usr/lib/ibus/ibus-engine-senn
	install -m 644 ./engine/senn.xml /usr/share/ibus/component
