#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

install/ibus-senn::
	install -pd $(DEB_DESTDIR)/usr/lib/senn
	install -p ../../fcitx-senn/backend/bin/server $(DEB_DESTDIR)/usr/lib/senn
