Source: ibus-senn
Section: utils
Priority: optional
Maintainer: mhkoji <mhkoji2@gmail.com>
Build-Depends:
  cl-alexandria,
  cl-babel,
  cl-yason,
  debhelper (>= 10),
  ecl,
  gnome-common,
  libibus-1.0-dev,
  picojson-dev
Standards-Version: 4.6.0
Homepage: https://github.com/mhkoji/Senn

Package: ibus-senn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus, senn-common
Description: Senn input method editor based on IBus
 Senn is a Japanese input method editor.
 It accepts an input sequence of keys from a keyboard,
 transforms the sequence to the corresponding kana characters
 and converts it to a sequence of kana and kanji characters.
 .
 ibus-senn is senn based on IBus.
