Source: ibus-senn
Section: utils
Priority: optional
Maintainer: mhkoji <mhkoji2@gmail.com>
Build-Depends:
  cl-alexandria,
  cl-babel,
  cl-yason,
  debhelper (>= 10),
  ecl,
  gnome-common,
  libibus-1.0-dev,
  picojson-dev
Standards-Version: 4.6.0
Homepage: https://github.com/mhkoji/Senn

Package: ibus-senn
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ibus, ecl
Description: Senn support for ibus
 Senn is an input method editor for the Japanese language.
